@font-face {
    font-family: 'Noto Sans CJK TC,BOLD';
    src: url(font/NotoSansCJKtc-Bold.otf) format("opentype");
}
@font-face {
    font-family: 'Noto Sans CJK TC,Regular';
    src: url(font/NotoSansCJKtc-Regular.otf) format("opentype");
}
@font-face {
  font-family: 'Microsoft Yi Baiti';
  src: url(font/Microsoft\ Yi\ Baiti.ttf) format("truetype");
}
@font-face {
    font-family: 'Noto Sans CJK TC,Medium';
    src: url(font/NotoSansCJKtc-Medium.otf) format("opentype");
}
/**/
html{
    height:100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding:0;
    color: #ffffff;
}

div {
    width: 100vw;
    margin: 0;
    padding: 0;
}
#slider {
    position: relative;
}
.background{
    position: absolute;
    height: 100vh;
}

.background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blur {
    filter: blur(5px);
}
ul{
    margin: 0;
    padding: 20px;
    height: 200px;
    list-style-type: none;
}
#big_bar {
    position: absolute;
    top: 0%;
}
.horizon {
    width: 1000px;
    position: absolute;
    right: 0%;
}
li {
    float: right;
}
#logo {
    position: absolute;
    left: 0%;
    width: 200px;
}
#logo img{
    width: 150px;
    height: 95px;
    margin: 10px;
}
.bar1{
    font-family: 'Microsoft Yi Baiti';
    font-size: 40px;
    color:#ffffff;
    text-decoration: none;
    box-shadow: 0 1pt #ffffff;
    padding-bottom: 3px;
    padding: 10px 10px;
    margin: 10px;
}

.dropdown{
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    width: 130%;
    height: 215px;
    text-align: left;
    z-index: 1;
    background-color: #f9f9f9;
    border-radius: 15px;
    line-height: 40px;
}
.bar2 {
    font-family: 'Microsoft Yi Baiti';
    font-size: 30px;
    color: #3288b0;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#store img{
    margin: 10px;
    width: 110px;
    height: 45px;
}
#car img{
    margin: 10px;
    width: 45px;
    height: 45px;
}
#title {
    position: absolute;
    top: 20%;
    text-align: right;
}
#title h1, #title div, #title p {
    position: relative;
    right: 5%;
}
#title2 {
    position: absolute;
    top: 30%;
    text-align: center;
    display: none;
}
#title2 h1, #title2 div{
    position: relative;
}

#title2 h1 {
    font-size: 50px;
    font-family: 'Noto Sans CJK TC,Medium';
    opacity: 0%;
    height: 200px;
}
#learn2 {
    width: 230px;
    height: 50px;
}
#title h1 {
    font-size: 50px;
    font-family: 'Noto Sans CJK TC,BOLD';
    padding-bottom: 7%;
    opacity: 0%;
}

#learn {
    width: 230px;
    height: 50px;
}

#title p {
    font-family: 'Noto Sans CJK TC,Regular';
    font-size: 19px;
    opacity: 0%;
}

#arrow {
    position: absolute;
    top: 50%;
}
#arrow img {
    right: 10px;
    width: 30px;
    margin: 10px;
}
#arrow .right{
    float: right;
}

.bar1:hover{
    font-weight: bold;
    box-shadow: 0 9pt #ffffff;
}
#store img:hover{
    opacity: 0.7;
} 
#car img:hover{
    opacity: 0.7;
} 
#learn:hover, #learn2:hover{
    opacity: 0.7;
} 
#arrow .right:hover,#arrow .left:hover {
    opacity: 0.7;
}
#title2 h1:hover {
    font-size: 55px;
}
#learn, #learn2{
    animation: btn_move 1s ease 1.5s 1 alternate backwards;
}
#title p {
    animation: text_move 1s ease 1.5s 1 alternate forwards;
}
@keyframes btn_move {
    from {height: 0px;}
    to {opacity: 100%;height: 50px;}
}
@keyframes text_move {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
h1{
    animation: first_move 1s ease 0.5s 1 alternate forwards;
}
@keyframes first_move {
    from {opacity: 0%;top: -5%;}
    to {opacity: 100%; top: 0%;}
}
